.activity {
    display: none;
    @media screen and(min-width:1200px) {
        display: block;
    }

    &__title {
        @extend %h2;
        @media screen and(min-width:1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            }
    }
    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        width: calc((100% - 60px) / 3);
    }

    &__thrumb {
        position: relative
    }

    &__subtitle {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 27px 10px;
        background-color: rgba(47, 48, 58, 0.8);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--white);
        text-align: center;
    }
}