.filters {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    
    @media screen and (min-width: 768px){
        justify-content: center;
        margin-bottom: 30px;    
    }
    @media screen and (min-width: 1200px){
        margin-bottom: 48px;   
    }

    &__button {
        @extend %btn;
        min-width: auto;
        padding: 6px 22px;
        background-color: var(--secondwhite);
        line-height: 1.8;
        color: var(--secondblack);
        &:hover,
        &:focus {
            color: var(--white);
            background-color: var(--blue);
            transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
        }
    }
}

