:root {
    --blue: #F68712;
    --blue-second: #e37e11;
    --grey-light: #757575;
    --grey-darck: #2F303A;
    --white: #ffffff;
    --secondwhite: #F5F4FA;
    --black: #000000;
    --secondblack: #212121;
    --networks: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}